<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}Djangochat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body>
    
    <nav>
        <div>
            <a href="/" class="djangochat" >Djangochat</a>
        </div>
        <div>
            <p class="separator">
                |
            </p>
        </div>


        <div id="divbody">
            {% if request.user.is_authenticated %}
                <div id="backgroundmenu">
                    <a href="/rooms/" class="rooms" >Rooms</a>
                    <a href="/logout/" class="logout" >Log out</a>
                </div>
            {% else %}
                <div id="backgroundmenu">
                    <a href="/login/" class="login" >Log in</a>
                    <a href="/signup/" class="signup" >Singup</a>
                </div>
            {% endif %}

        </div>

    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}


</body>
</html>