{% extends 'chat/base.html' %}

{% block title %}Sign Up | {%endblock%}

{% block content %}
<div class="divtitleform">
    <h1 class="formtitle">SignUp :0</h1>
</div>

<form method="post" action="." class="form">
    {% csrf_token %}

    <div class=divform">
        <label>Username</label>
        <input type="text" name="username" class="inputform">
    </div>

    <div class="divform">
        <label>Password</label>
        <input type="password" name="password1" class="inputform">
    </div>

    <div class="divform">
        <label class="lavelrepeatpassword">Repeat Password</label>
        <input type="password" name="password2" class="repeatpassword">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="diverror">
                    <p>{{ error|escape }}</p>
                </div> 
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="button">Submit</button>
</form>
{% endblock %}