{% extends 'chat/base.html' %}

{% block title %}Rooms | {%endblock%}

{% block content %}
    <div class="divtitleform">
        <h1 class="formtitle">Rooms :D</h1>
    </div>

    <div class="fivrooms">
        {% for room in rooms %}
            <div class="divrooms2">
                <div class="divrooms3">
                    <h2>{{ room.name }}</h2>

                    <div class="a">
                        <a href="{% url 'room' room.slug %}" class="joinroom">Join</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}